<app-user-home></app-user-home>
<div class="main-div">
    <div class="card div-card">
        <div class="card-body div-body">
            <h5 class="h5">User Profile</h5>
            <p class="card-text">
                Id: {{user.id}} <br>
                First Name: {{user.firstName}}<br>
                Last Name: {{user.lastName}}<br>
                Mobile No: {{user.mobileNo}}<br>
                Email Id: {{user.emailId}}<br>
                Country: {{user.country}}<br>
                State: {{user.state}}<br>
                City: {{user.city}}<br>
                Postal Code: {{user.postalCode}}
            </p>
        </div>
    </div>
</div>