<app-user-home></app-user-home>
<div class="container main-div col-4 justify-content-center">
    <h5 class="h5"> Edit Profile</h5>
    <form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
        
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" formControlName="firstName"
                placeholder="Enter first name">
        </div>

        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" formControlName="lastName"
                placeholder="Enter last name">
        </div>

        <div class="form-group">
            <label for="mobileNo">Mobile Number</label>
            <input type="number" class="form-control" id="mobileNumber" formControlName="mobileNo"
                placeholder="Enter Mobile number">
        </div>

        <div class="form-group">
            <label for="country">Country</label>
            <input type="text" class="form-control" id="country" formControlName="country" placeholder="Enter country">
        </div>

        <div class="form-group">
            <label for="state">State</label>
            <input type="text" class="form-control" id="state" formControlName="state" placeholder="Enter state">
        </div>

        <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" formControlName="city" placeholder="Enter city">
        </div>

        <div class="form-group">
            <label for="postalCode">Postal Code</label>
            <input type="number" class="form-control" id="postalCode" formControlName="postalCode"
                placeholder="Enter postal code">
        </div>

        <button type="submit" [disabled]="!editUserForm.valid" class="btn btn-primary buttonbottom">Save</button>
    </form>
</div>
